Source: retry
Section: perl
Priority: optional
Maintainer: Moritz Lenz <moritz.lenz@noris.de>
Build-Depends: debhelper (>= 9),
 perl,
 libmodule-build-perl
Build-Depends-Indep: libipc-run-perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/App-retry

Package: retry
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libipc-run-perl,
 perl (>= 5.14.0)
Description: retry commands until they success
